* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: center;
  padding: 3.5rem;
  background-color: rgb(54, 54, 54);
  box-shadow: 3px 3px rgba(13, 158, 151, 0.4),
    -0.89em 0 0.4em rgba(54, 54, 54, 0.4);
  border-radius: 0px 0px 25px 25px;
  width: 75%;
  margin: auto;
  color: white;
}

.add-todo-section {
  width: 80%;
  max-width: 600px;
  margin: auto;
  color: white;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input[type='text'] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0px 0px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #4caf50;
  transition-duration: 150ms;
}

.form button:hover {
  background-color: #45a049;
}

.todo-section {
  display: grid;
  margin: 50px;
  gap: 25px;
  grid-template-columns: repeat(3, auto);
}

.todo-item {
  position: relative;
  max-width: 450px;
  min-width: 450px;
  height: 260px;
  margin: auto;
  transition-duration: 150ms;
  background-color: rgba(235, 116, 4, 0.4);
  box-shadow: 3px 3px rgba(44, 25, 8, 1), -0.8em 0 0.4em rgba(158, 84, 15, 0.4);
}

.todo-item:hover {
  transform: scale(1.05) rotateZ(5deg);
}

.todo-item h1 {
  margin: 15px 0px 0px 15px;
}
.todo-item p {
  margin: 15px 0px 0px 15px;
}
.todo-item svg {
  position: absolute;
  top: 15px;
  fill: rgba(173, 90, 13, 0.4);
  right: 15px;
  transition-duration: 150ms;
}

.todo-item svg:hover {
  cursor: pointer;
  fill: rgba(173, 90, 13, 1);
  transform: scale(1.25) rotateZ(360deg);
}

.footer {
  position: absolute;
  bottom: 0;
}

.logo-item:hover {
  cursor: pointer;
}

.logo-item {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}
.logo-item p {
  margin-left: 0.25rem;
}

@media only screen and (max-width: 1450px) {
  .todo-section {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .form input[type='text'] {
    padding: 6px 10px;
  }
  .form button {
    padding: 12px 10px;
  }
  .todo-section {
    grid-template-columns: repeat(1, auto);
  }
}
